.done{
    text-decoration: line-through;
}
i{
    cursor: pointer;
}
body{
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.present{
    width: 100px;
}
#logo{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
}